:root {
    --inword-1: rgb(157, 157, 6);
    --inword-2: rgb(232, 232, 170);
    --inboard-1: #ca8d1a;
    --inboard-2: #e7c28b;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h3 {
    text-align: center;
    margin: 0;
}

#guess-board-container {
    width: 100%;
    height: 60%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* container-type: inline-size; */
}

#guess-board, .history-board {
    /* container-type: size; */
}

#guess-board {
    outline: 2px solid black;
    height: calc(min(95vw, 95%));
    aspect-ratio: 1 / 1; /* TODO: Make relative to board size */
    /* margin: auto; */
    /* margin-top: 2.5vh; */
    container-type: size;
}

#guess-board > div, #guess-history > div > div {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
}

.letter, .history-letter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex: 1;
    aspect-ratio: 1 / 1;
    background-color: white;
    font-weight: bold;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    font-size: 12cqh; /* 12% of gameboard TODO: fix */
}

.letter {
    border: 2px solid black;
    /* font-size: 12cqi; */
}

.history-letter {
    border: 1px solid black;
    /* font-size: 12cqi; */
}

.correct {
    background-color: lightgreen;
}

.inword-h {
    background: repeating-linear-gradient(
        0deg,
        var(--inword-1),
        var(--inword-1) 20%,
        var(--inword-2) 20%,
        var(--inword-2) 40%
        );
}

.inword-v {
    background: repeating-linear-gradient(
        90deg,
        var(--inword-1),
        var(--inword-1) 20%,
        var(--inword-2) 20%,
        var(--inword-2) 40%
        );
}

.inword-h.inword-v {
    background: repeating-linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) ,
        rgba(0, 0, 0, 0) 20%,
        var(--inword-1) 20%,
        var(--inword-1) 40%
    ), repeating-linear-gradient(
        0deg,
        var(--inword-2),
        var(--inword-2) 20%,
        var(--inword-1) 20%,
        var(--inword-1) 40%
    );
}

.inboard {
    /* background-color: rgb(255, 208, 148); */
    background: repeating-linear-gradient(
        45deg,
        var(--inboard-2),
        var(--inboard-2) 12.5%,
        var(--inboard-1) 12.5%,
        var(--inboard-1) 25%
        );
}

.blank {
    background-color: grey;
}

.letter.selected {
    outline: 4px solid aqua;
    outline-offset: -6px;
    animation-name: selected-pulse;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes selected-pulse {
    0%, 100% {
        outline-color: blue;
    }
    50% {
        outline-color: aqua;
    }
}

.letter.misspell {
    animation-name: misspell-pulse;
}
.letter.missing {
    animation-name: missing-pulse;
}
.letter.misspell, .letter.missing {
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes missing-pulse {
    0%, 100% {
        background-color: red;
    }
    50% {
        background-color: lightpink;
    }
}

@keyframes misspell-pulse {
    0%, 100% {
        color: red;
    }
    50% {
        color: rgb(141, 0, 0);
    }
}

#keyboard {
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.494);

    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}

#keyboard > div {
    width: calc(min(100%, 75vh));
    /* outline: 0.5px solid black; */

    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

#keyboard > div > div {
    display: inline-flex;
    background-color: rgb(54, 54, 54);
    opacity: 80%;
    height: 90%;
    outline: 0.5px solid black;
    margin-left: 0.5%;
    margin-right: 0.5%;
    border-radius: 10%;

    color: white;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#keyboard > div > div.keyboard-key.notinboard {
    background-color: rgb(15, 15, 15);
    color: rgb(49, 49, 49);
}

.keyboard-key {
    font-size: 150%;
    width: 9%;
}

.keyboard-backspace {
    font-size: 150%;
    width: 10%;
}

.keyboard-enter {
    font-size: 125%;
    width: 15%;
}

#guess-history {
    position: absolute;
    bottom: 20%;

    width: 100%;
    height: 20%;
    background-color: rgba(54, 54, 54, 0.3);
    /* margin-top: 2.5%; */

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    display: flex;
    align-items: center;

    container-type: size;
}

.history-board {
    margin-left: 1vh; /* This is 5% of height of parent */
    /* display: inline-block; */
    height: 90%;
    aspect-ratio: 1 / 1;

    outline: 1px solid black;
}

.history-board:last-child {
    margin-right: 1vh;
}